<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57846735303-t4d0nhdgdc2cabun40601nq0e5ap30tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57846735303-t4d0nhdgdc2cabun40601nq0e5ap30tn</string>
	<key>API_KEY</key>
	<string>AIzaSyDgMZjH_fEMItUetrOdobUihByK0aakRwg</string>
	<key>GCM_SENDER_ID</key>
	<string>57846735303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redmadrobot.wallcal</string>
	<key>PROJECT_ID</key>
	<string>wallcalendar-288a8</string>
	<key>STORAGE_BUCKET</key>
	<string>wallcalendar-288a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57846735303:ios:d4ffd709d7525863e8b9e2</string>
</dict>
</plist>